@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root{
    --intro-anim-t:5s;
}
html, body {
    overflow: hidden;
}
body{
    color:white;   
    background-color: black;
    position: relative;
}
.banner{
    position: absolute;
    top: 50%;
    left: 50%;
    width:100%;
    height:33vh;
    transform: translate(-50%, -50%);
    /*border-top-style: solid;
    border-bottom-style: solid;*/
    color: white; 
    background-color: black; 
    overflow: hidden; 

    display:flex; 
    flex-direction:column;
    justify-content:space-evenly;

    text-align: center;
    color:white;
    text-transform: uppercase;
}

#logo.banner{
    animation-name: logo-present;
    animation-duration: var(--intro-anim-t);
    animation-fill-mode: forwards;
}
@keyframes logo-present{
    from{opacity:0;}
    to{opacity:1;}
}


.banner p{
    font-size:10vh; 
    font-family: Georgia; 
    letter-spacing: 3vw;
    margin:0px;
    margin-right: -3vw;
}
.banner p.sub{
    font-size:2vh;
    letter-spacing:20px;
    margin:0px;
    margin-right: -20px;
    font-family: 'Josefin Sans', sans-serif;
}


