@import "style_common.css";

:root{
    --intro-anim-t:5s;
    }
.banner{
    position: absolute;
    top: 50%;
    left: 50%;
    width:100%;
    height:33vh;
    transform: translate(-50%, -50%);
    border-top-style: solid;
    border-bottom-style: solid;
    color: white; 
    background-color: black; 
    overflow: hidden;

    display:flex;
    flex-direction:column;
    justify-content:space-evenly;

    text-align: center;
    color:white;
}

#logo.banner{
    animation-name: logo-present;
    animation-duration: var(--intro-anim-t);
    animation-fill-mode: forwards;
}
@keyframes logo-present{
    from{opacity:0;}
    50%{opacity:1;}
    to{opacity:0; visibility:hidden;}
}

#more.banner{
    animation-name: more-present;
    animation-duration: var(--intro-anim-t);
    animation-fill-mode: forwards;
}
@keyframes more-present{
    from{opacity:0;visibility:hidden;}
    75%{opacity:0;visibility:hidden;}
    to{opacity:1; border-color: black;}
}

#text-motif{
    font-size:10vh; 
    font-family: Georgia; 
    letter-spacing: 3vw;
    margin:0px;
    margin-right: -3vw;
}
#text-motif-sub{
    font-size:2vh;
    letter-spacing:20px;
    margin:0px;
    margin-right: -20px;
}
#text-more-sub{
    font-size:2vh;
    letter-spacing:20px;
    margin-right: -20px;
    margin:0px;
}


