@import "style_common.css";

:root{
    --intro-anim-t:5s;
    }
.banner{
    position: absolute;
    top: 50%;
    left: 50%;
    width:100%;
    height:33vh;
    transform: translate(-50%, -50%);
    border-top-style: solid;
    border-bottom-style: solid;
    color: white; 
    background-color: black; 
    overflow: hidden;

    display:flex;
    flex-direction:column;
    justify-content:space-evenly;

    text-align: center;
    color:white;
}

#logo.banner{
    animation-name: logo-present;
    animation-duration: var(--intro-anim-t);
    animation-fill-mode: forwards;
}
@keyframes logo-present{
    from{opacity:0;}
    to{opacity:1;}
}

.banner p{
    font-size:10vh; 
    font-family: Georgia; 
    letter-spacing: 3vw;
    margin:0px;
    margin-right: -3vw;
    text-transform: uppercase;
}
.banner p.sub{
    font-family: 'Josefin Sans', sans-serif;
    font-size:2vh;
    letter-spacing:20px;
    margin:0px;
    margin-right: -20px;
}